<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DisplayCandidateInformation</title>
    
</head>
<body style="background-color:  #3b5998;">
   
    <h1 style="color: floralwhite;text-align: center;">View Candidate </h1>
    <table border=3>
        <thead>
            <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;Name</th>
            <th style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</th>
            <th>&nbsp;&nbsp;&nbsp;Job Title</th>
            <th>&nbsp;&nbsp;&nbsp;Current Position</th>
            <th>&nbsp;&nbsp;&nbsp;Experience</th>
            <th>&nbsp;&nbsp;&nbsp;Prv.organziation</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skills</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;photos</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resume</th>
           <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;operations</th>
            </tr>
        </thead>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="">Delete</a></td>
            

        </tr>
    </table>
    
</body>
</html>