<div class="mhire-container ablt-filter-mobile">
    <ul>
        <li><a routerLink="/display_profile"><i class="fa fa-home" style="font-size: 24px; vertical-align: middle; margin-left: -10px;"></i>MHire</a></li>
        <li><a routerLink="/technical">Techincal Competency</a></li>
        <li><a routerLink="/expierence">Experience</a></li>
        <li><a href="">View Resume</a></li>
    </ul>
</div>


<div class="card bg-light mb-3" style="max-width: 40rem;">
    <div class="card-header" style="background: #f6f9fb;"
>
        <img src="./assets/vikas.jpg" alt="" srcset="" height="70px" width="70px" style="align-items: center; margin-left: 50px;">
    </div>
    <div class="card-body" style="vertical-align: middle;">
      <h2 class="card-title" style="color: cadetblue; vertical-align: middle;">Vikas Kumar</h2>
      <p class="card-text" style="color:#219bd7; vertical-align: middle;">Associate Software Developer</p>
    </div>
  </div>
  <div class="row" style="margin-left: 450px;">
      <div class="col-lg-6" style="max-width: 700px;">
  <div class="card text-center" style="margin-top: 60px;">
    <div class="card-header">
    
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    
    </div>
  </div>
</div>
<div class="col-lg-6" style="width: 700px;">
  <div class="card text-center" style="margin-top: 60px;">
    <div class="card-header">
     
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>
</div>

 