
    <app-homepage></app-homepage>
  
    
   
     <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Interview ID</th>
          <th scope="col">Position ID</th>
          <th scope="col">Candidate Name</th>
          <th scope="col">Candidate Email</th>
          <th scope="col">Candidate Phone</th>
          <th scope="col"> candidate Profile</th>
          <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;Date & Time</th>
          <th scope="col">status</th>
        </tr>
        
      </thead>
      <tbody> 
        <!-- *ngIf="users!==undefined && users!==''" -->
          <tr *ngFor="let user1 of users">
          <th scope="row">{{user1.interviewAutoId}}</th>
          
          <td>{{user1.jobOpenings.jobId}}</td>
          <td>{{user1.user.userFirstName}}{{user1.user.userLastName}}</td>
          <td>{{user1.user.userEmail}}</td>
          <td>{{user1.user.contactPhone}}</td>
          <td>{{user1.user.resume}}</td>
          <td>{{user1.dateTime|date:'medium'}} </td>
          <td> {{user1.interviewStatus}}</td>
        </tr>  
        <!-- <tr>
          <th scope="row">{{user.interviewAutoId}}</th>
          <td>{{user.jobOpenings.client.companyName}}</td>
          <td>{{user.dateTime}} </td>
          <td> {{user.jobOpenings.jobDescription}}</td>
        </tr> -->
        
      </tbody>
    </table> 
    
        <!-- <table class="table table-striped">
          <thead>
            <tr class="table-info">
              <th scope="col">Interview Id</th>
              <th scope="col">Job Id</th>
              <th scope="col">Candidate Name</th>
              <th scope="col">Candidate Email</th>
    
              <th scope="col">Candidate Phone</th>
              <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;Date & Time</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody>
         <tr *ngFor="let user1 of users" >
          <th scope="row" style="color: #fff;">{{user1.interviewAutoId}}</th>
          
          <td style="color: #fff;">{{user1.jobOpenings.jobId}}</td>
          <td style="color: #fff;">{{user1.user.userFirstName}}{{user1.user.userLastName}}</td>
          <td style="color: #fff;">{{user1.user.userEmail}}</td>
          <td style="color: #fff;">{{user1.user.contactPhone}}</td>
          <td style="color: #fff;">{{user1.dateTime|date:'medium'}} </td>
          <td style="color: #fff;"> {{user1.interviewStatus}}</td>
        </tr>
          </tbody>
        </table>
    
 
 -->
