<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <app-homepage></app-homepage>
    <!-- <div class="topnav">
        <a class="active" routerLink="/candidate">Create</a>
        <a routerLink="/search" >View Profile</a>
        <a routerLink="/interviewscheduled">Interview Schedule</a>
        <a routerLink="/candidateRes">Search & Results</a>
        <a routerLink="/admin">Admin</a>
      </div> -->
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/vikas.jpg" alt="Card image cap">
        
        <div class="card-body">
          <h5 class="card-title"><h2>Name:vikash</h2></h5>
          <p class="card-text">Job Title: Angular Devloper</p>
          <p class="card-text">Previous Org: Mphasis Lmt</p>
          <p class="card-text">Email: vikas@mphasis.com</p>
          <p class="card-text">Associate Software Devloper</p>
          <p class="card-text">Exp: 1 year 5 months</p>
          <p class="card-text">Skills: Angular 8, C#, .NET, javaScript</p>
          
          
        </div>
      </div>
      <div class="container m-6">
        <div class="row">
            <div class="col-lg-10">
                <img src="../assets/todo.png" class="img-fluid"   alt="">
    
            </div>
        </div>
    </div>

</body>
</html>