<!-- <div class="app p-4 container-fluid">
    <div class="row">
      <div class="col col-md-4 offset-md-4">


        sssssssssssssssssssssssssss
        <div class="text-center">
          <ng-template #loadingBlock>
            <div class="text-center mt-5">
              <div
                class="spinner-border spinner-grow-mg text-white"
                role="status"
              >
                <div class="text-white">
                  loading....
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div> -->
 
  <div class="container-fluid">
    <div class="profile-header">
      <div class="profile-img">
        <img src="./assets/vikas.jpg" width="200" alt="">
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name">Vikash Kumar</h3>
        <div class="address">
          <p class="state">Bangalore,</p>
          <span class="country">India.</span>
        </div>
      </div>
      <div class="profile-option">
        <div class="notification">
          <i class="fa fa-bell"></i>
          <span class="alert-message">1</span>
        </div>
      </div>
    </div>
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
          <p class="mobile-no"><i class="fa fa-phone"></i>+7028461799</p>
          <p class="user mail"><i class="fa fa-envelope"></i>vikash.kumar1@mphasis.com
          </p>
          <div class="user-bio">
            <h1 style="font-weight: bold;">Profile Summary</h1>
            <p class="bio">
              Hard-working achiever, dedicated to on-time delivery, and enthusiastic team player...'
            </p>
          </div>
          <div class="profile-btn">
            <button class="chatbtn">
              <i class="fa fa-eye"></i>View Resume
            </button>
            <button class="createbtn"><i class="fa fa-download"></i>Download Resume</button>
          </div>
      
        </div>
      </div>
    </div>
    <div class="container" style=" position: absolute;
    left: 25%;
    top: 15%;
    height: 400px;
    width: 400px;">
     
      <div class="row">
        <div class="card text-center" style="height: 80px; width: 700px;">
          <div class="card-header">
           <h2>Role</h2> 
          </div>
          <div class="card-body">
            <h3><strong>Angular developer</strong></h3>
          </div>
          <div class="card-footer text-muted">
            
          </div>
       
      </div>
      <br>
      <div class="row">
        <div class="card text-center" style="height: 80px; width: 700px; margin-top: 95px;">
          <div class="card-header">
           <h2>Skills</h2> 
          </div>
          <div class="card-body">
            <h3><strong>Angular,C#</strong></h3>
          </div>
          <div class="card-footer text-muted">
            
          </div>
        </div>
       
      </div>
      <br>
      <div class="row">
        <div class="card text-center" style="height: 80px; width: 700px; margin-top: 190px;">
          <div class="card-header">
           <h2>Experience</h2> 
          </div>
          <div class="card-body">
            <h3><strong>1.4 years, Mphasis</strong></h3>
          </div>
          <div class="card-footer text-muted">
          
          </div>
    </div> 
    <!-- <div class="card text-center" style="height: 80px; width: 700px;">
      <div class="card-header">
       <h2>Role</h2> 
      </div>
      <div class="card-body">
        <h3><strong>Angular developer</strong></h3>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    <div class="card text-center" style="height: 80px; width: 700px; margin-top: 85px;">
      <div class="card-header">
       <h2>Skills</h2> 
      </div>
      <div class="card-body">
        <h3><strong>Angular,C#</strong></h3>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
  <div class="card text-center" style="height: 80px; width: 700px; margin-top: 200px; margin-left: 180px;">
      <div class="card-header">
       <h2>Experience</h2> 
      </div>
      <div class="card-body">
        <h3><strong>1.4 years, Mphasis</strong></h3>
      </div>
      <div class="card-footer text-muted">
      
      </div>
    
   -->



    <!-- <div class="card">
      <div class="card-header " style="font-weight: bold; text-align: center; color: #ffffff;background-color:#e40046;">
        Skills
      </div>
<br>
      <ul class="list-group list-group-flush" style="text-align: center;">
        <li class="list-group-item">C#</li>
        <br>
        <li class="list-group-item">Angular</li>
        <br>
        <li class="list-group-item">Java</li>
        <br>
        <li class="list-group-item">ASP.NET MVC</li>
        <br>
        <li class="list-group-item">Web APi</li>
        <br>
        <li class="list-group-item">SQL</li>
        <br>
      </ul>
    </div> -->

    <!-- <div class="card1">
      <div class="card-header " style="font-weight: bold; color: #ffffff;background-color:#e40046;">
        Experience && Organization
      </div>
      <ul class="list-group list-group-flush" style="text-align: center;">
        <li class="list-group-item">2 Years</li>
        <li class="list-group-item">Mphasis</li>

        <br>
      </ul>
    </div> -->
    <!-- <div class="card2">
      <div class="card-header " style="font-weight: bold; color: #ffffff;background-color:#e40046;">
        Job Title
      </div>
      <ul class="list-group list-group-flush" style="text-align: center;">
        <li class="list-group-item">Software Developer</li>

        <br>
      </ul>
    </div> -->
   
  </div>