<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sidebar Dashboard Template</title>
  </head>
  <body>

     <!-- <input type="checkbox" id="check">
    header area start
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3> <span> My Account</span></h3>
      </div>
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>
    </header>  -->
  
    <div class="sidebar">
  
        <img src="./assets/vikas.jpg" class="profile_image" alt="">
        <h4 style="margin-left: 110px; margin-top: 2px; color: black;">vikash Kumar1</h4>
     
      <a routerLink="/display-data"><i class="fa fa-desktop"></i><span>My Profile</span></a>
      <!-- <a href="#"><i class="fa fa-table"></i><span>My Account Details</span></a>
      <a href="#"><i class="fa fa-th"></i><span>Forms</span></a> -->
      <a routerLink="/"><i class="fa fa-sign-out"></i><span>SignOut</span></a>
    </div>
    

    <div class="content"></div>

  </body>
</html>
                           