<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InterviewInformation</title>
  </head>
  <body>
    <h1><strong>Interview Schedule</strong></h1>
    <form>
      <label style="color: white;" for="UserName"
        ><strong>Candidate Name</strong></label
      ><br />
      <input type="text" id="uName" name="uName" /><br />
      <br />
      <label style="color: white;" for="ClientName"
        ><strong>Client Name</strong></label
      ><br />
      <input type="text" id="Cname" name="Cname" /><br />
      <br />
      
      <label style="color: white;" for="Email"
        ><strong>Candidate Email</strong></label
      ><br />
      <input type="Email" id="Email" name="Email" /><br />
      <br />
      <label style="color: white;" for="Date&Time"
        ><strong>DATE & TIME</strong></label
      ><br />
      <input type="datetime-local" id="date" name="date" /><br />
      <br />
      
      <label style="color: white;" for="InterviewType"
        ><strong>Interview Type</strong></label
      ><br />
      <input type="text" id="IType" name="IType" /><br />
      <br />
      <label style="color: white;" for="EventType"
        ><strong>Event Type</strong></label
      ><br />
      <input type="text" id="EType" name="EType" /><br />
      <br />

      <label style="color: white;">JobDescripton</label><br />
      <textarea name="JobDesc" id="jd" cols="30" rows="20"></textarea><br />

      <button type="button"><a href = "mailto: abc@example.com">Submit</a></button>
    </form>
  </body>
</html>
