

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <app-main-home-page></app-main-home-page>
    <!-- <div class="container m-3">
        <div class="row">
            <div class="col-lg-7">
                <img src="../assets/todo.png" class="img-fluid" alt="">
            </div>
        </div>
        
    </div> -->
    <h1 style="color: aliceblue; position: absolute; top: 40%; left: 7%; font-size: 48px; font-weight: 600;">Beautiful, Effective,<br><br>
         Easy-To-Use HR <br>,<br>
         Software for Growing <br><br>
         Businesses</h1>

         <input type="submit" value="SignUp" routerLink="/signup" style="background: #5fcc9c;padding: .5rem 1rem; font-size: 16px; color: #fff; border: #5fcc9c; border-radius: 4px; width: 180px; margin-left: 100px; margin-top: 30%;"/>
         <input type="submit" value="Login" routerLink="/login" style="background: transparent;padding: .5rem 1rem; font-size: 16px; color: #fff; width: 180px; border: 1px solid #fff; border-radius: 4px; margin-left: 10px; margin-top: 30%;" /> 
</body>
</html>

    